<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html" ; charset="UTF-8">
    <title><%= pageDifference.pageName %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <h1 class="display-4"><%= pageDifference.pageName %></h1>
        <h3 class="display-5">
            <%= login.name %>さん ようこそ！
        </h3>
    </header>
    <div role="main">
        <a href="/nipple/upload">&lt;&lt; 新規乳首投稿</a> |
        <a href="<%= pageDifference.centerLink %>"><%= pageDifference.centerLinkContext %></a> |
        <a href="/users/delete">アカウント削除&gt;&gt;</a>

        <table class="table mt-5 container">
            <thead>
                <tr class="row">
                    <th class="col-4 col-md-3 d-flex justify-content-center">
                        <span class="">サムネイル</span>
                    </th>
                    <th class="col-8 col-md-4 d-flex justify-content-center">
                        <span class="">操作</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <% for (let i in images) { %>
                    <%- include('data_item', {image: images[i]}) %>
                <% } %>
            </tbody>
        </table>

        <ul class="pagination justify-content-center">
            <% if (page > 0) { %>
                <li class="page-item">
                    <a href="/users/mypage/<%= page-1 %>" class="page-link">&lt;&lt; prev</a>
                </li>
            <% } %>
            <% if (isNextPage) { %>
                <li class="page-item">
                    <a href="/users/mypage/<%= page+1 %>" class="page-link">Next &gt;&gt;</a>
                </li>
            <% } %>
        </ul>
    </div>
</body>

</html>